</main>
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">Please rate!<div data-rodeo></div></p>
                <p><div id="disqus_thread"></div>
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/

var disqus_config = function () {
/*this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable*/
/*this.page.identifier = ; // Replace PAGE_IDENTIFIER with your page's unique identifier variable*/
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//databaselearningsystem.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript></p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="waves-effect waves-light btn-flat modal-trigger grey-text text-lighten-3" href="#supportchat">Support Chat</a></li>
                    <li><a class="waves-effect waves-light btn-flat modal-trigger grey-text text-lighten-3" href="#!">Link 2</a></li>
                    <li><a class="waves-effect waves-light btn-flat modal-trigger grey-text text-lighten-3" href="#!">Link 3</a></li>
                    <li><a class="waves-effect waves-light btn-flat modal-trigger grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
        © 2014 Copyright Adam McGhie
        <a class="grey-text text-lighten-4 right" href="https://gitlab.strathtech.co.uk/amcghie/dbls"><i class="fa fa-git-square"></i> Git Repository</a>
        </div>
    </div>
</footer>
<div id="supportchat" class="modal">
    <div class="modal-content">
        <iframe src="https://kiwiirc.com/client?settings=1b13df749a8a263c2abc741dffe15e2e" style="border:0; width:100%; height:450px;"></iframe>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setCookieDomain", "*.dbls.ovh"]);
  _paq.push(["setDomains", ["*.dbls.ovh"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//metrics.strathtech.co.uk/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 6]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//metrics.strathtech.co.uk/piwik.php?idsite=6" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script type="text/javascript">
    var __rodeo_config = {
        'clientId': '4774fb52758dd53e2d9de759fbf78aaed73f4757c9eeed304ca7a33f29de09c3',
        'theme': 'feverfew'
    };

    var d = document.getElementsByTagName('head')[0],
    s = document.createElement('script');

    s.type = 'text/javascript';
    s.src = '//cdn.emoji.rodeo/dist.js';
    d.appendChild(s);
    $(document).ready(function(){
        $(".button-collapse").sideNav();
        $(".dropdown-button").dropdown();
        $('.modal-trigger').leanModal();
    });
</script>

</body>
</html>
