<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="manifest" href="/static/manifest.json">
    <meta name="theme-color" content="#ee6e73">
    <link rel='dns-prefetch' href='//cdnjs.cloudflare.com'>
    <link rel='dns-prefetch' href='//fonts.googleapis.com'>
    <link rel='dns-prefetch' href='//kiwiirc.com'>
    <link rel='dns-prefetch' href='//metrics.strathtech.co.uk'>
    <link rel='dns-prefetch' href='//cdn.emoji.rodeo'>
    <link rel='dns-prefetch' href='//kiwiirc.com'>
    <link rel='dns-prefetch' href='//api.filepicker.io'>
    <%if (typeof title !== "undefined") { %>
    <title><%= title %> :: DBLS</title>
    <% } else {%>
    <title>DBLS</title>
    <% } %>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="/bower/Materialize/dist/css/materialize.min.css">
    <link rel="stylesheet" href="/bower/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <!--Let browser know website is optimized for mobile-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="/bower/html5shiv/html5shiv.min.js"></script>
      <script type="text/javascript" src="/bower/respond/dest/respond.min.js"></script>
    <![endif]-->
    <!-- hilight.js code & styles -->
    
    <link rel="stylesheet" href="/bower/highlightjs/styles/github.css" type="text/css" />
    <script>'4774fb52758dd53e2d9de759fbf78aaed73f4757c9eeed304ca7a33f29de09c3'</script>
    <link rel="stylesheet" href="/bower/sweetalert/dist/sweetalert.css" type="text/css" />
    
    <meta name="msapplication-TileImage" content="/static/images/ico/sizes/DBLS_Icon-144.png"/>
    <meta name="msapplication-TileColor" content="#ee6e73"/>
    <link rel="apple-touch-icon" href="/static/images/ico/ios/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/ico/ios/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/ico/ios/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/images/ico/ios/apple-touch-icon-144x144-precomposed.png">
    <link rel="icon" type="image/png" href="/static/images/ico/android/web_hi_res_512.png"/>
    <script type="text/javascript" async defer src="/bower/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <% if (typeof user != "undefined") {%>
                <a href="/profile" class="brand-logo center">DBLS</a>
                <% } else { %>
                <a href="/" class="brand-logo center">DBLS</a>
                <% } %>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                
                <% if(typeof user != "undefined") { 
                    if (user === 0) {
                    } else if (typeof user != "undefined") {%>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/profile" class="waves-effect waves-light"><i class="fa fa-user"></i> Profile</a></li>
                    <% if(user.isAdmin) { %>
                    <li><a href="/staff" class="waves-effect waves-light"><i class="fa fa-unlock-alt"></i> Staff Panel</a></li>
                    <% } %>
                    <li><a href="/logout" class="waves-effect waves-light"><i class="fa fa-sign-out"></i> Logout</a></li>
                </ul>
                <ul class="side-nav" id="nav-mobile">
                    <li><a href="/profile" class="waves-effect waves-light"><i class="fa fa-user"></i> Profile</a></li>
                    <% if(user.isAdmin) { %>
                    <li><a href="/staff" class="waves-effect waves-light"><i class="fa fa-unlock-alt"></i> Staff Panel</a></li>
                    <% } %>
                    <li><a href="/logout" class="waves-effect waves-light"><i class="fa fa-sign-out"></i> Logout</a></li>
                </ul>
                    <% } else {%>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/login" class="waves-effect waves-light"><i class="fa fa-sign-in"></i> Login</a></li>
                    <li><a href="/login/signup" class="waves-effect waves-light">Signup</a></li>
                </ul>
                <ul class="side-nav" id="nav-mobile">
                    <li><a href="/login" class="waves-effect waves-light"><i class="fa fa-sign-in"></i> Login</a></li>
                    <li><a href="/login/signup" class="waves-effect waves-light">Signup</a></li>
                </ul>
                    <% } 
                } else { %>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/login" class="waves-effect waves-light"><i class="fa fa-sign-in"></i> Login</a></li>
                    <li><a href="/login/signup" class="waves-effect waves-light">Signup</a></li>
                </ul>
                <ul class="side-nav" id="nav-mobile">
                    <li><a href="/login" class="waves-effect waves-light"><i class="fa fa-sign-in"></i> Login</a></li>
                    <li><a href="/login/signup" class="waves-effect waves-light">Signup</a></li>
                <% } %>
            </div>
        </nav>
    </header>
    <main>