<% include shared/head.ejs %>
    <div class="container">
        <div class="page-header center">
            <h1><i class="fa fa-cogs"></i> Error</h1>
            <% if(typeof user !== "undefined") { %>
            <a href="/profile" class="btn btn-default btn-sm">Go Somewhere safe</a>
            <% } else { %>
            <a href="/" class="btn btn-default btn-sm">Go Somewhere safe</a>
            <% } %>
        </div>

        <div>
            <h2><%= message %> <small>Code: <%= error.status %></small></h2>
            <p><pre><code><%= error.stack %></code></pre></p>
        </div>

        <% include shared/footer.ejs %>

    </div>
<% include shared/foot.ejs %>
