<% include shared/head.ejs %>
    <div class="container">
        <div class="page-header text-center">
            <h1><i class="fa fa-cogs"></i> Error</h1>
            <a href="/profile" class="btn btn-default btn-sm">Go Somewhere safe</a>
        </div>

        <div>
            <h2><%= message %> <small>Code: <%= error.status %></small></h2>
            <p><code><%= error.stack %></code></p>
        </div>

        <div class="text-center footer">
            <p>Built by Adam McGhie</p>
        </div>

    </div>
<% include shared/foot.ejs %>
