<% include shared/head.ejs %>
<div class="container center">

    <div class="jumbotron text-center">
        <h1 class="flow-text"><span class="fa fa-lock"></span> Database Learning System</h1>

        <p>Login or Register with:</p>
        
        <div class="row">
            <div class="col s12 m4">
                <a href="/login" class="waves-effect waves-teal btn-flat"><i class="fa fa-user"></i> Local Login</a>
            </div>
            <div class="col s12 m4">
                <a href="/login/signup" class="waves-effect waves-teal btn-flat"><i class="fa fa-user"></i> Local Signup</a>
            </div>
            <div class="col s12 m4">
                <a href="/login/auth/twitter" class="waves-effect waves-teal btn-flat"><i class="fa fa-twitter"></i> Twitter</a>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4">
                <a href="/login/auth/google" class="waves-effect waves-teal btn-flat"><i class="fa fa-google-plus"></i> Google+</a>
            </div>
            <div class="col s12 m4">
                <a href="/login/auth/strathtech" class="waves-effect waves-teal btn-flat"><i class="fa fa-git"></i> StrathTECH</a>
            </div>
            <div class="col s12 m4">
                <a href="/login/auth/saml" class="waves-effect waves-teal btn-flat"><i class="fa fa-google-plus"></i> CIS SAML</a>
            </div>
        </div>
    </div>

    <% include shared/footer.ejs %>

</div>
<% include shared/foot.ejs %>
